<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block css %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>LOGOTYPE</h1>
            <nav>
                <ul>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Random</a></li>
                    <li><a href="#">My Libraries</a></li>
                    <li><a href="#">Dark mode</a></li>
                </ul>
            </nav>

            {% include "users/welcome.html" %}

        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <small>☻ Copyright; Todos los derechos reservados.</small>
        </footer>

        {% block js %}{% endblock %}
    </body>
</html>