{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div>
        <h2>Inicia tu búsqueda</h2>
        <form action="" method="get">
            <label>Buscar</label>
            <input type="text" name="search">
            <input type="submit" value="Buscar">
            <input type="submit" value="Voy a tener suerte">
        </form>
    </div>

    <div>
        <h2>HOT</h2>
        <div>
            {# Se debe generar dinámicamente #}
            <div>
                <img src="{% static 'img/guts.jpg' %}" alt="Cover" width="160">
                <h3>9.5</h3>
                <h4>Título de la novela</h4>
                <h5>Nombre del capítulo</h5>
            </div>
        </div>
    </div>

    <div>
        <h2>Últimas actualizaciones</h2>
        <ul></ul>
    </div>
{% endblock %}