{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<main>

</main>

    <div class="style hot">
        <h2>Inicia tu búsqueda</h2>
        {# action se va a la vista search #}
        <form action="" method="GET">
            <label>Buscar</label>
            <input type="text" name="search">
            <input type="submit" value="Buscar">
            <input type="submit" value="Voy a tener suerte">
        </form>
    </div>

    <div class="style hot">
        <h2>HOT</h2>
        <div>
            {% for hot in hot_novels %}
                <div>
                    <img src="{{ hot.distro.cover_path }}" alt="{{ hot.distro.novel }}" width="120">
                    <h3>{{ hot.distro.novel.likes }}</h3>
                    <h4>{{ hot.distro.novel }}</h4>
                    <h4>{{ hot.distro.title }}</h4>
                    <h5>{{ hot }}</h5>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="style">
        <h2>Últimas actualizaciones</h2>
        <table class="home-table">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Capítulo</th>
                    <th>Novela</th>
                    <th>Fansub</th>
                    <th>Tiempo</th>
                </tr>
            </thead>
            <tbody>
                {# Se debe generar dinámicamente #}
                {% load humanize %}
                {% for upload in uploads %}
                    <tr>
                        <td><img src="{{ upload.chapter.distro.cover_path }}" alt="{{ upload.chapter.distro.novel }}" width="40"></td>
                        <td>{{ upload.chapter }} {% if upload.chapter.title %} - {{ upload.chapter.title }}{% endif %}</td>
                        <td>{{ upload.chapter.distro.novel }}<br/>{{ upload.chapter.distro }}</td>
                        <td>{{ upload.fansub }}</td>
                        <td>{{ upload.creation_date|naturaltime }}</td>
                    </tr>
                {% endfor %}
                {# end #}
            </tbody>
        </table>
    </div>

{% endblock %}